html {
  width: 100%;
  height: 100%;
}

body {
  display: block;
  margin: 8px;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  font-size: 2vw;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.toolTip {
  position: relative;
  white-space: nowrap;
}

.toolTipPopUp {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  white-space: initial;
  font-size: 2vw;
  max-width: 150px;
  height: auto;
  padding: 5px 0;
  z-index: 1;
  top: 100%;
  left: 50%;
  border-radius: 6px;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.toolTip:hover {
  background-color: #4c76b2;
  opacity: 0.8;
}

.toolTip:hover .toolTipPopUp {
  visibility: visible;
}
